<div class="signup">
  <div class="main-section">
    <h2>Cadastrar</h2>
    <mat-card>

      <!-- <mat-stepper #stepper> -->
        <!-- <mat-step [stepControl]="accountFormGroup" errorMessage="Incompleto"> -->

          <form [formGroup]="accountFormGroup">
            <ng-template matStepLabel>Dados da Conta</ng-template>

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="emailCtrl" required autocomplete="off">
              <mat-error *ngIf="accountFormGroup.get('emailCtrl').hasError('email') && !accountFormGroup.get('emailCtrl').hasError('required')">
                Informe um email válido
              </mat-error>
              <mat-error *ngIf="accountFormGroup.get('emailCtrl').hasError('required')">
                O email é obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="usernameCtrl" required autocomplete="off">
              <mat-error *ngIf="accountFormGroup.get('usernameCtrl').hasError('required')">
                Nome é obrigatório
              </mat-error>
              <mat-error *ngIf="accountFormGroup.get('usernameCtrl').hasError('maxlength')">
                O nome de usuário deve ter no máximo 30 caracteres
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="passwordCtrl" required autocomplete="off">
              <mat-error *ngIf="accountFormGroup.get('passwordCtrl').hasError('required')">
                A senha é obrigatória
              </mat-error>
              <mat-error *ngIf="accountFormGroup.get('passwordCtrl').hasError('minlength')">
                A senha deve ter pelo menos 8 caracteres
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="fill">
              <mat-label>Confirmação da Senha</mat-label>
              <input matInput type="password" formControlName="passwordConfirmationCtrl" required autocomplete="off">
              <mat-error *ngIf="accountFormGroup.get('passwordConfirmationCtrl').hasError('required')">
                A confirmação da senha é obrigatória
              </mat-error>
              <mat-error *ngIf="accountFormGroup.get('passwordConfirmationCtrl').hasError('mismatch')">
                As senhas não correspondem
              </mat-error>
            </mat-form-field>

            <div class="navigator">
              <button mat-flat-button (click)="confirmSignup()">Finalizar</button>
            </div>
          </form>

        <!-- </mat-step> -->
        <!-- <mat-step>
          <ng-template matStepLabel>Confirmação</ng-template>
          <div class="confirmation-wrapper">
            <button class="code-button" [disabled]="sentCode || !hasEmail()" mat-flat-button matStepperNext>Enviar código</button>
            <form [formGroup]="confirmationFormGroup">
              <mat-form-field class="medium-input" appearance="fill">
                <mat-label>Código de confirmação</mat-label>
                <input matInput formControlName="confirmationCodeCtrl" autocomplete="off">
              </mat-form-field>
            </form>
          </div>
          <p class="confirmation">Ao se cadastrar, você aceita os <a routerLink="/">Termos de Uso</a>, <a routerLink="/">Política de Privacidade</a> e a <a routerLink="/">Política de Cookies</a>.</p>
          <div class="navigator">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-flat-button [disabled]="!isFormValid()" (click)="confirmSignup()">Confirmar</button>
          </div>
        </mat-step>
      </mat-stepper> -->
    </mat-card>
  </div>
</div>
