<footer>
  <div class="top-footer">
    <div class="links">
      <ul>
        <a href="#"><li mat-button>Suporte</li></a>
        <a href="#"><li mat-button>Termos de Uso</li></a>
        <a href="#"><li mat-button>Privacidade</li></a>
        <a href="#"><li mat-button>Cookies</li></a>
      </ul>
    </div>
    <div class="social">

      <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitch fa-2x"></i></a>
      <a href="#"><i class="fab fa-reddit fa-2x"></i></a>
    </div>
  </div>
  <div class="botom-footer">
    <div class="footer-logo">
      <a href="#"><img src="assets/images/dwg-large.png" width="100" height="100" alt="logo"></a>
    </div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="copy-footer">
     &copy; 2021 DigitalWaveGames | Todos os direitos reservados.
  </div>
</footer>
