<div class="main">
    <h1 class="title">Painel Administrativo</h1>
    <div class="options">
        <a class="opt-link" routerLink="/clients-management">
        <div class="users">
            <mat-icon class="option-icon">account_box</mat-icon>
            <p>Usuários</p>
        </div>
        </a>
        <a class="opt-link" routerLink="/products-management">
            <div class="products">
                <mat-icon class="option-icon">games</mat-icon>
                <p>Títulos</p>
            </div>
        </a>
    </div>
</div>
