// Colors
$dark-gray: #262626;
$light-gray: #cccccc;
$alt-gray: #919191;
$gray: #414141;
$green: #00ac00;
$light-green: #7cbe7c;
$white: #ffffff;
$black: #030303;
$red: #FF6363;
$golden: #c7ba01;
$rsL: #00a000;
$rs10: #ffff40;
$rs12: #ffbc40;
$rs14: #4040ff;
$rs16: #ff4040;
$rs18: #404040;


// Fonts
$default-font: 'Cairo';

// spaces
$padding-page: 50px 70px;