@import './../../../assets/styles/variables.scss';

mat-progress-spinner{
    margin: 0 auto;
}
div::-webkit-scrollbar {
  background-color: $gray;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: $light-gray;
  border-radius: 5px;
}

.main {
  padding: $padding-page;

  .featuredTitle {
      font-size: 25px;
      color: $light-gray;
  }

  .featured-games {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 10px;

    .numberOne {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    div {
      border-radius: 5px;
      background-color: $dark-gray;

      img {
        border-radius: 5px;
        height: 100%;
        width: 100%;
      }
    }
  }

  .category {
    margin-top: 5em;

    .categoryTitle {
      color: $light-gray;
      font-size: 25px;
    }

    .games {
      overflow-x: auto;
      display: flex;
      gap: 5px;
      flex-direction: row;
      background-color: $dark-gray;
      img{
        height: 20em;
        max-width: 60em;
      }
    }
  }
}
