<div class="main">
    <h1 class="title">Cadastro de produtos</h1>
    <form auto class="form-container"  [formGroup]="registrationFormGroup" >
        <div class="form-section-1">
            <div class="selects-container">
                <mat-form-field class="platform" appearance="fill">
                    <mat-label>Plataforma:</mat-label>
                    <mat-select formControlName="platform">
                        <mat-option value="Play Station 5">PS5</mat-option>
                        <mat-option value="Nintendo Switch">Nintendo Switch</mat-option>
                        <mat-option value="Xbox Series S/X">Xbox Series S/X</mat-option>
                        <mat-option value="Xbox One">Xbox One</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
           <!--<div class="form-img-container">
            <div class="img-container">
                <img class="game-image" src={{image}}>
            </div>
            <mat-form-field class="image" appearance="fill">
                <mat-label>Imagem:</mat-label>
                <input formControlName="image" matInput autocomplete="off" (keyup.enter)="atualizarImagem($event)" placeholder="Image">
            </mat-form-field>
           </div>-->
        </div>
       
       <div class="form-section-2">
        <mat-form-field class="gameName" appearance="fill">
            <mat-label color="white">Nome do jogo:</mat-label>
            <input formControlName="name" matInput autocomplete="off">
        </mat-form-field>
        <div class="price-amount-container">
            <mat-form-field class="amount" appearance="fill">
                <mat-label>Quantidade:</mat-label>
                <input formControlName="amount" type="number" min="1" matInput placeholder="Quantidade">
            </mat-form-field>
            <mat-form-field class="price" appearance="fill">
                <mat-label>Preço:</mat-label>
                <input formControlName="price" type="number" min="0" matInput placeholder="Preço">
            </mat-form-field>
        </div>
        <mat-form-field class="description" appearance="fill">
            <mat-label>Descrição:</mat-label>
            <textarea formControlName="description" rows="15" maxlength="1716" matInput></textarea>
        </mat-form-field>
       </div>
        <div class="buttons-container">
            <button mat-button type="button" class="cancel-button" routerLink="/products-management">Voltar</button>
            <button class="btn-confirm" type="submit" (click)="registerProduct()" mat-button>Cadastrar</button>            
        </div>
    </form>
</div>